*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

/*posiiton fixed ta bugando o negocio*/
header{
    color: #FFF;
    background-color: #2D2D2D;
    /*background: url(imgs/bg-topo.png) no-repeat left top;*/
    padding: 2.5% 1.25%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header h5{
   /* vertical-align: baseline;*/
}

.container-fluid{
    background-color: #A8AFBB;
}

/*texto fica invadindo o menu vertical, investigar*/
main{
    padding: 140px 1.25%;
}

section{
    background-color: #FFF;
}

footer{
    color: #FFF;
    background-color: #2D2D2D;
    padding: 2.5% 1.25%;
    width: 100%;
    z-index: 1;
}

.quem-somos img{
    float: left;
    height: 275px;
    margin: 20px; 
}

.orange{
    color: #DFAB42;
    display: inline;
}

.titulo{
    text-transform: uppercase;
}