*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*posiiton fixed ta bugando o negocio*/
header{
    color: #FFF;
    background-color: #2D2D2D;
    /*background: url(imgs/bg-topo.png) no-repeat left top;*/
    padding: 2.5% 1.25%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header img{
    width: inherit;
}

.container-fluid{
    background-color: #A8AFBB;
}

main{
    padding: 140px 1.25%;
    background-color: #FFF;
}

footer{
    color: #FFF;
    background-color: #2D2D2D;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
}

footer img{
    width: 40%;
    float: right;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

footer img:hover{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#footer{
    margin-right: 0;
    margin-left: 0;
}

.orange{
    color: #DFAB42;
    display: inline;
}

.title{
    text-transform: uppercase;
}

hr{
    border: #232323 1px solid;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.testborder{
    border: red 2px solid;
}

.text-section{
    text-align: justify;
    margin: 5px;
}

.photo-section{
    margin: 20px 0;
}

.black-bar{
    font-size: 10px;
    text-align: right;
    padding: 5px 1.25%;
    margin: 0;
    background-color: #232323;
    opacity: 0.6;
    filter: alpha(opacity=60);
}