*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #f3b82e;
}

a:hover{
    color: #c59a32;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.logo-header{
    max-width: 200px; 
}

.navbar-dark
.navbar-nav
.active>.nav-link,
.navbar-dark
.navbar-nav
.nav-link.active,
.navbar-dark
.navbar-nav
.nav-link.show,
.navbar-dark
.navbar-nav
.show>.nav-link{
    color: #f3b82e;
}


.navbar{
    min-height: 60px;
    display: flex;
}

.rounded{
    background-color: #e5e5e5;
    width: 100%;
    overflow: hidden;
}

.cards-produtos{
    border: #FFF 2px solid;
}

/*Vai precisar de media query pra tamanho das imagens*/
.cards-produtos img{
    height: auto;
}

/*Jcarousel CSS*/

.wrapper {
    width: 100%;
    padding: 0 20px 40px 20px;
    margin: auto;
}

.jcarousel-wrapper ul li img{
    width: 200px;
    max-height: 80px;
    padding: 5px;
    margin: 10px 0 0 0;
    align-content: center;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev a:hover{
    text-decoration: none;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}




main{
    background-color: #FFF;
    margin-bottom: 20px;
}

footer{
    color: #FFF;
    background-color: #343a40;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
}

footer img{
    width: 200px;
    float: right;
    margin: 0 0 20px 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

footer img:hover{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#footer{
    margin-right: 0;
    margin-left: 0;
}

.orange{
    color: #f3b82e;
    display: inline;
}

.title{
    text-transform: uppercase;
}

hr{
    border: #232323 1px solid;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.testborder{
    border: red 2px solid;
}

.text-section{
    text-align: justify;
    margin: 5px;
}

.photo-section{
    margin: 20px 0;
    height: 210px;
}

.black-bar{
    font-size: 10px;
    text-align: right;
    padding: 5px 1.25%;
    margin: 0;
    background-color: #232323;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.home{
    width: 100%;
    margin: 50px 0;
}

.links i{
    margin: 0 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .carousel-item>img {
        max-height: 320px;
        }
    footer img{
        opacity: 1;
        filter: alpha(opacity=100);
        align-content: center;
    }
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    .carousel-item>img {
        max-height: 550px;
        }
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    .carousel-item>img {
        max-height: 210px;
        }
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .carousel-item>img {
        min-height: 600px;
        }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .carousel-item>img {
        min-height: 600px;
        }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .carousel-item>img {
        min-height: 600px;
        }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .carousel-item>img {
        max-height: 600px;
        }
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .carousel-item>img {
        max-height: 600px;
        }
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    .carousel-item>img {
        max-height: 600px;
        }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    .carousel-item>img {
        max-height: 600px;
        }
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .carousel-item>img {
        max-height: 210px;
        }
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .carousel-item>img {
        max-height: 210px;
        }
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {
        max-height: 210px;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .carousel-item>img {         max-height: ;     }
    }